body {
    overflow: hidden;
    user-select: none;
    margin: 0px;
    /* -webkit-app-region: drag; */
    /* background-color: rgba(255,255,255,0.0);
    /* background: rgba(204, 226, 255, 0.1); */
}

.background {
    display: inline-block;
    -webkit-app-region: drag;
    /* border-radius: 2px;
    border: 1px solid rgba(222, 222, 255, 0.4);
    box-shadow: inset 0 0 50px 0 rgba(222, 222, 255, 0.2); */
    /* background: rgba(0, 0, 0, 0.6); */
}

.top-part {
    margin-left: 30px;
    margin-right: 15px;
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
}

.bottom-part {
    margin: 0px;
}

svg {
    margin: 5px;
}

.progress-meter .background {
    fill: rgba(222, 222, 255, 0.4);
}

.progress-meter .foreground {
    fill: rgba(222, 222, 255, 0.8);
}

.progress-meter .foreground-ring {
    fill: rgba(255, 255, 255, 0.8);
}

.progress-meter text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    fill: rgb(222, 222, 255);
}

.recorder-axis {
    fill: none;
    color: rgba(222, 222, 255, 0.8);
}

.recorder-line {
    stroke: rgba(222, 222, 255, 0.8);
    stroke-width: 1;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
}