* {
    font: 16px Arial,"Microsoft YaHei","Heiti SC",sans-serif;
}

:root {
    --text-color: rgb(230, 230, 240);
}

body {
    height: 100%;
    overflow: hidden;
    user-select: none;
    margin: 0px;
}

div {
    text-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.background {
    -webkit-app-region: no-drag;
    margin: 6px;
    border-radius: 1px;
    background: rgba(230, 230, 240, 0.1);
}

.container {
    margin: 0px;
    overflow-y: auto;
    max-height: 450px;
    -webkit-app-region: no-drag;
}

.titlebar {
    min-width: 160px;
    height: 30px;
    margin: 0px 6px;
    font-size: 16px;
    border-radius: 1px;
    color: var(--text-color);
    text-shadow: 0 0 4px rgba(0,0,0,0.2);
    -webkit-app-region: drag;
    z-index: 10;

    display: flex;
    flex-direction: center;
    align-items: center;
}

.item-color {
    background: rgba(230, 230, 240, 0.5);
    color: rgb(52, 52, 54);
    transition: all 200ms linear;
}

.item-color:hover {
    background: rgba(210, 210, 240, 0.5);
    color: rgb(52, 52, 54);
}

.item {
    min-width: 160px;
    height: 30px;
    margin: 6px;
    border-radius: 1px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -webkit-app-region: no-drag;
}

.item-expand {
    height: 200px;
}

.content-short {
    margin: 0px 20px 0px 6px;
    padding: 0px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-full {
    display: block;
    height: 190px;
    width: 85%;
    padding: 6px 0px 0px 6px;
    word-wrap: break-word;
    outline: 0;
    border: none;
    resize: none;
    color: rgb(52, 52, 54);
    text-shadow: 0 0 4px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.0);
}

.add-button {
    width: 16px;
    height: 16px;
    margin-left: 6px;
    background: url(add_button.png) no-repeat;
    background-size: 100% 100%;
    transition: all 200ms linear;
    -webkit-app-region: no-drag;
}

.add-button:hover {
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    background: url(add_button_hover.png) no-repeat;
    background-size:100% 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.delete-button {
    position: relative;
    float: right;
    width: 16px;
    height: 16px;
    top: -23px;
    right: 6px;
    background: url(del_button.png) no-repeat;
    background-size: 100% 100%;
    -webkit-app-region: no-drag;
    visibility: hidden;
}

.delete-button:hover {
    background: url(del_button_hover.png) no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.delete-button-expand {
    top: -170px;
    right: -10px;
}

.collapse-button {
    position: relative;
    float: right;
    width: 16px;
    height: 16px;
    top: -190px;
    right: 6px;
    background: url(collapse_button.png) no-repeat;
    background-size: 100% 100%;
    -webkit-app-region: no-drag;
    visibility: hidden;
}

.collapse-button:hover {
    background: url(collapse_button_hover.png) no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

::-webkit-scrollbar { 
    width: 8px; 
    height: 8px; 
    top: 6px;
    bottom: 6px;
    background-color: rgba(0,0,0,0.0);
} 
   
::-webkit-scrollbar-track { 
    background-color: rgba(0,0,0,0.0);
} 
   
::-webkit-scrollbar-thumb { 
    background-color: rgba(230, 230, 240, 0.5);
    border-radius: 1px;
    transition: all 200ms linear;
}

::-webkit-scrollbar-thumb:hover { 
    background-color: rgba(210, 210, 240, 0.5);
}
