:root {
    --text-color: rgb(230, 230, 240);
    --text-color-dark: rgb(52, 52, 54);
    --text-color-dark-hover: rgb(100, 100, 106);
    --background: rgba(230, 230, 240, 1.0);
}

.side-hoverbar-transparent {
    position: absolute;
    float: left;
    left: 0px;
    top: 5px;
    bottom: 5px;
    width: 20px;
    /* opacity: 0.0; */
    /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 5%, rgba(255, 255, 255, 0.0) 95%); */
    background: transparent;
    transition: all 100ms linear;
}

.side-hoverbar-interact {
    float: left;
    width: 1px;
    height: 95%;
    margin: 0px 0px 0px -1px;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.4)
}

.side-hoverbar {
    width: 100%;
    height: 100%;
    top: 0px;
    background: var(--background);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    transition: all 100ms linear;
    visibility: hidden;
}

.sidebar-button {
    font-size: 16px;
    text-align: center;
    margin: 4px auto;
    width: 100%;
    color: var(--text-color-dark);
    transition: all 50ms linear;
    cursor: pointer;
}

.sidebar-button:hover {
    color: var(--text-color-dark-hover);
    text-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.foldbutton {
    font-size: 16px;
    text-align: center;
    margin: 4px auto;
    width: 100%;
    color: var(--text-color-dark);
    transition: all 50ms linear;
    cursor: pointer;
}

.foldbutton:hover {
    color: var(--text-color-dark-hover);
    text-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.sidenav {
    display: flex;
    flex-direction: column;
    float: left;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 5px;
    bottom: 5px;
    background-color: rgb(230, 230, 240);
    overflow-x: hidden;
    transition: all 100ms linear;
}

.sidenav-expand {
    width: 50px;
    -webkit-app-region: drag;
}

.sidenav div {
    margin: 8px auto;
    width: 100%;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-color-dark);
    display: block;
    transition: all 100ms linear;

    -webkit-app-region: no-drag;
}

.sidenav div:hover {
    color: var(--text-color-dark-hover);
    text-shadow: 0 0 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

#sidebar-quitbutton {
    align-self: flex-end;
    margin-bottom: 16px;
}